html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#Blue {
  background: #00A5E3;
}

#Red {
  background: #FF5768;
}
#DarkYellow {
  background: #FFBF65;
}
#Orange {
  background: #FC6238;
}
